<div class="summary">
  <div class="boxes-title">CONTADORES</div>
  <div class="boxes">
    <div class="box">
      <span class="box-title">INFECTADOS</span>
      <span class="box-value">{{summary?.infected}}</span>
    </div>

    <div class="box">
      <span class="box-title">VACUNAS ADMINISTRADAS</span>
      <span class="box-value">{{summary?.vaccinated}}</span>
    </div>

    <div class="box">
      <span class="box-title">MUERTES</span>
      <span class="box-value">{{summary?.deaths}}</span>
    </div>

    <div class="box">
      <span class="box-title">VELOCIDAD DE PROPAGACIÓN</span>
      <span class="box-value">{{propagation?.toFixed(4) }}</span>
    </div>
  </div>
</div>
