<div class="summary">
  <div class="summary-title">CIUDADES</div>
  <div class="counters">
    <div class="counter-line">
      <span class="box-title">INFECTADAS</span>
      <span class="box-value">{{citiesInfo?.affectedCities}} / {{citiesInfo?.totalCities}}</span>
    </div>

    <div class="counter-line">
      <span class="box-title">AFECTACIÓN POR CIUDADES</span>
      <span class="box-value">{{citiesInfo?.citiesInvolvement | percent:'1.2'}}</span>
    </div>

    <div class="counter-line">
      <span class="box-title">AFECTACIÓN POR POBLACIÓN</span>
      <span class="box-value">{{citiesInfo?.populationInvolvement | percent:'1.2'}}</span>
    </div>

    <div class="counter-line">
      <span class="box-title">POBLACIÓN MUNDIAL</span>
      <span class="box-value">{{citiesInfo?.population }}</span>
    </div>

    <div class="counter-line">
      <span class="box-title">MUERTES TOTALES</span>
      <span class="box-value">{{citiesInfo?.deaths }}</span>
    </div>
  </div>
</div>
