<section>
  <div class="menu">
    <div class="menu-entry"
         [class.entry-selected]="menuEntry === 'HOME'"
         (click)="selectMenuEntry('HOME')">HOME
    </div>
    <div class="menu-entry"
         [class.entry-selected]="menuEntry === 'DASHBOARD'"
         (click)="selectMenuEntry('DASHBOARD')"
    >DASHBOARD
    </div>
    <div class="menu-entry"
         [class.entry-selected]="menuEntry === 'MAP'"
         (click)="selectMenuEntry('MAP')">MAPA
    </div>
  </div>


  <video
      src="assets/Smoke.mp4"
      autoplay
      loop></video>


</section>
<ng-container [ngSwitch]="menuEntry">
  <app-home *ngSwitchCase="'HOME'"></app-home>
  <app-dashboard *ngSwitchCase="'DASHBOARD'"></app-dashboard>
</ng-container>
