<div class="summary-title">TOP 10 CIUDADES CON MÁS INFECTADOS</div>
<div class="headers">
  <div class="empty"></div>
  <div class="header">POBLACIÓN</div>
  <div class="header">INFECCIONES</div>
  <div class="header">MUERTES</div>
</div>
<div class="list">
  <div class="row"
       *ngFor="let city of top10InfectedCities; trackBy: trackByCityName">
    <div class="name">{{city.city}} ({{city.country}})</div>
    <div class="field">{{city.population}}</div>
    <div class="field">{{city.infected}}</div>
    <div class="field">{{city.deaths}}</div>
  </div>
</div>
