:host {
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 100px;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .dashboard-header {
    display: flex;

    img {
      margin-left: 50px;
      max-width: 150px;
      mix-blend-mode: soft-light;
      animation: rotation 60s infinite linear;
    }

    .title {
      letter-spacing: 20px;
      font-weight: bolder;
      color: #FAFAFA;
      top: 300px;
      width: 100%;
      text-align: center;
      font-size: 80px;
      mix-blend-mode: hard-light;
      opacity: .7;
      animation: glowing 2s infinite;
    }
  }

  .summaries {
    display: flex;
    width: 100%;
    gap: 50px;

    counters-summary, cities-summary {
      width: 50%;
    }
  }
}


