@import "~leaflet/dist/leaflet.css";

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}


.summary-title {
  font-size: 40px;
}

.counters {
  box-sizing: content-box;
  gap: 20px;

  .counter-line {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgb(255 255 255);
    align-items: center;

    .box-title {
      font-weight: lighter;
      font-size: 18px;
      width: 40%;
    }

    .box-value {
      width: 60%;
      text-align: right;
      font-size: 28px;
    }
  }
}

::-webkit-scrollbar-track {
  width: 8px;
  background-color: rgb(153 153 153 / 60%);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(153 153 153 / 60%);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgb(255 255 255 / 60%);
}


.pulse_ring {
  border: 3px solid #c60d0d;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  animation: pulsate 1s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px white;
  }
  50% {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 30px #a355d9, 0 0 35px #a355d9;
  }
  100% {
    text-shadow: 0 0 5px white;
  }
}
